* {
    font-family: "Arial";
}

header {
    color: #2c3034;
    text-align: center;
    background-color: #0db7ed;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 30px;
    background-image: url("../images/logo2.png");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: contain;
}



table{
    border: groove 6px #2c3034;
    border-collapse: collapse;
    color:#2c3034;
}

th {
    background-color: #0db7ed;
    padding: 10px;
    border: solid 1px gray;
    border-bottom: #2c3034 groove 3px;
}

td {
    padding: 10px;
    border: solid 1px gray;
}

footer {
    margin-top: 20px;
    background-color: #0db7ed;
    border-radius: 40px;
    padding: 5px;
}

footer span {
    font-size: x-small;
}

a {
    color:#2c3034;
}

a:visited{
    color:#2c3034;
}